body{
    background: rgb(44, 42, 165);
    font-family: sans-serif;
}

.caja{
    width: 400px;
    height: 500px;
    background: #ccc;
    border-radius: 6px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 25px;
}

.caja img{
    width: 100%;
    height: 100%;
}